<div class="alert alert-danger" ng-if="IsClosedForOrders" role="alert">
  Vermutlich ist für die gewählte Woche keine Bestellung mehr möglich.
</div>
<div style="display: flex; justify-content: center;">
  <input type="text" ng-model="searchTerm" class="form-control input-sm" placeholder="Filtern..." />
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" ng-click="searchTerm = ''" class="btn btn-default">Alles</button>
    <button type="button" ng-click="searchTerm = 'Brot'" class="btn btn-default">Brot</button>
    <button type="button" ng-click="searchTerm = 'Petrik'" class="btn btn-default">Petrik</button>
    <button type="button" ng-click="searchTerm = 'Blanc'" class="btn btn-default">Blanc</button>
    <button type="button" ng-click="searchTerm = 'Schleinkofer'" class="btn btn-default">Schleinkofer</button>
    <button type="button" ng-click="searchTerm = 'Fasanen'" class="btn btn-default">Fasanen</button>
    <button type="button" ng-click="searchTerm = 'e.E.'" class="btn btn-default">Eigene Erzeugnisse</button>
    <button type="button" ng-click="searchTerm = '♦D♦'" class="btn btn-default">Aus Deutschland</button>
  </div>
</div>
<table class="table table-condensed table-bordered table-hover">
  <thead>
    <tr>
      <th>Name
      </th>
      <th>Preis</th>
      <th>Bestellungen</th>

    </tr>
  </thead>
  <tbody>
    <tr ng-class="{'bg-info': quantityOfOrders(orderable._id) > 0}" ng-click="addOrder(orderable)" style="cursor:pointer;" ng-repeat="orderable in orderables| filter:fuzzy(searchTerm,['supplier', 'name'])">
      <td tooltip-append-to-body="true" uib-tooltip="{{hasCurrentUserOrdered(orderable._id) ? 'Habe ich selbst bestellt.' : ''}}"
        ng-style="{'background-color': hasCurrentUserOrdered(orderable._id) ? '#6ec34b': 'inherit'}">
        {{orderable.supplier + ' ' + orderable.name}}
      </td>
      <td>
        {{orderable.price}} €/{{unit(orderable)}}
      </td>
      <td>{{quantityOfOrders(orderable._id)}}</td>
    </tr>
  </tbody>
</table>